<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Великие боксеры</title>
</head>
<body><div>
<h1><a href="">Великие боксеры</a></h1>
</div>
<div>
<p>published: 15.02.2017, 12:14</p>
<h2><a href="">My first post</a></h2>
<p> Майк Тайсон. Этот величайший боксёр занимает пятую строчку. Каждый слышал это имя.
    Это известнейший боксёр на весь мир, славился он тем,
    что одолевал абсолютно любых соперников за несколько секунд или же в течении только
    первого раунда. На него постоянно делали ставки и лишь думали о том, сколько минут против
    него сможет выстоять противник. Майк Тайсон считается самым жестоким нокаутером в истории.
    Он также нашёл себе место и в Книге Рекордов Гиннеса, за самые мощные и быстрые нокауты всех
    времён. ( на его счету есть 9 нокаутов, которые он сделал меньше, чем за одну минуту) а так же
    его рекорд, в том что он самый юный победитель в суператяжелых весах.</p>
</div>
<div>
<p>published: 15.02.2017, 12:14</p>
<h2><a href="">My second post</a></h2>
<p>Рой Джонс-младший (англ. Roy Jones Jr.; 16 января 1969, Пенсакола, Флорида, США)
    — американский боксёр-профессионал. Серебряный призёр Олимпийских игр 1988 года.
    Абсолютный чемпион мира в полутяжёлой весовой категории. Чемпион мира в средней
    (версия IBF, 1993—1994), второй средней (версия IBF, 1994—1996), полутяжёлой
    (версия WBC, 1997, 1997—2002 и 2003—2004; версия WBA, 1998—2002; версия IBF, 1999—2002),
    в первой тяжёлой (версия WBU, 2013 — н. в.) и тяжёлой (версия WBA, 2003) весовых категориях.
    Американская ассоциация журналистов, пишущих о боксе и журнал Ринг назвали Джонса
    «Боксёром десятилетия» в 1990-х годах[2]. Возглавлял рейтинг pound for pound
    (рейтинг лучших боксёров вне зависимости от весовой категории по версии журнала «Ринг»)
    в 1996, 1999 и 2003 годах. Первый боксёр за всю историю бокса, который стал чемпионом мира
    в среднем весе, затем сумел завоевать титул во втором среднем, полутяжёлом и в тяжёлом весе. </p>
</div>
</body>
</html>